# Editor
*.bak
*.bmarks
*.layout

# Compiled Object files
*.slo
*.lo
*.o
*.obj

*.out

# Compiled Dynamic libraries
*.so
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Compiled help files
*.chm
